<ng-container *ngIf="salary$ | async as salary">
  <div class="error" *ngIf="error.length > 0">{{error}}</div>
  <form [formGroup]="formGroup">
    <div class="form-line">
      <label>Titre</label>
      <input type="text" formControlName="title" placeholder="Entrez un titre"/>
      <label>Montant</label>
      <input type="number" formControlName="amount"/>
      <label>Commentaire</label>
      <input type="text" formControlName="comment"/>
    </div>
    <br>
    <button (click)="submit()">{{ formMode === 'CREATE' ? 'Créer' : 'Modifier'}}</button>
  </form>

</ng-container>
